{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Students {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3">
                <h2> Manage <b> Students </b>
                    <button type="button" class="btn btn-success float-right" data-toggle="modal"
                        data-target="#mymodal">
                        Create New Student
                    </button>
                </h2>
                <!-- Start Table -->
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <tH></tH>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.phone }}</td>
                            <td class="text-center">
                                <a href="/update/{{student.id}}" class="btn btn-primary btn-xs" data-toggle="modal"
                                    data-target="#modaledit{{student.id}}">Edit</a>
                                <a href="/delete/{{student.id}}" class="btn btn-danger btn-xs"
                                    onclick="return confirm('Are you sure to delete?')">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- End Table -->
            </div>
            <!-- Start Update Student -->
            {% for student in students %}
            <div id="modaledit{{student.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Student</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('update')}}" method="POST">
                                <div class="form-group">
                                    <label>Name: </label>
                                    <input type="hidden" name="id" value="{{student.id}}">
                                    <input type="text" class="form-control" name="name" value="{{student.name}}">
                                </div>
                                <div class="form-group">
                                    <label>Email: </label>
                                    <input type="text" class="form-control" name="email" value="{{student.email}}">
                                </div>
                                <div class="form-group">
                                    <label>Phone: </label>
                                    <input type="text" class="form-control" name="phone" value="{{student.phone}}">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Update Student</button>
                                    <button type="button" class="btn btn-secondary float-right"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End Update Student -->
            <!-- Start Create Student -->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Create Student</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('create')}}" method="POST">
                                <div class="form-group">
                                    <label>Name: </label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Email: </label>
                                    <input type="email" class="form-control" name="email" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Phone: </label>
                                    <input type="number" class="form-control" name="phone" required="1">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Create New Student</button>
                                    <button type="button" class="btn btn-secondary float-right"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Create Student -->
            </div>
        </div>
    </div>
</div>
{% endblock %}