{% extends 'base.html' %}
{% block body %}
<!-- Start Table -->
<table class="table table-hover table-bordered">
    <thead class="thead-dark text-center">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Henrique Morais</td>
            <td>rikeaju@hotmail.com</td>
            <td>+55 79 99112-4671</td>
            <td>
                <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
            </td>
        </tr>
        <tr>
            <td>Acácio Ramos</td>
            <td>acacioxp@hotmail.com</td>
            <td>+55 79 99999-2082</td>
            <td>
                <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
            </td>
        </tr>
    </thead>
</table>
<!-- End Table -->
{% endblock %}